{% extends 'base.html.twig' %}
{% block main %}
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{ articlee.title }}</h2>
                </header>

                <p>
                    {{ articlee.content }}
                </p>

                <small class="author">
                    {{ articlee.author }}
                </small>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>

{% endblock %}

